<div id="content" style="padding: 80px 0 0 0;">
  <div class="container food_in4">
    <div class="row text-center pt-4 detail_header" style="position: relative;">
      <h1>
        <%= data.menuname %>
      </h1>
      <a href="#">Creator: <span style="font-weight: bold;">
          <%= data.creator %>
        </span></a>
      <button class="turnBackBtn"><i class="fa-solid fa-left-long fa-xl"></i></button>
    </div>
    <div class="nutrition_container row mt-4">
      <div class="col">
        <h3 class="FID_body__left--title">Nutritions</h3>
        <div class="FID_body__left-nutriinfor">
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Energy</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.energy %> Calo
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Carbs</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.carbs %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Lipid</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.lipid %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Protein</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.protein %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Vitamins</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.vitamins %>
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Minerals</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.minerals %>
            </span>
          </div>
        </div>
        <div class="CYM_body__left-bottom">
          <div style="margin-left: 64px;">
            <table class="CYM_body__left-bottom--table">
              <thead>
                <tr>
                  <th>Name of food</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody id="detailMenuContent">
                <% for (let i=0; i < foodElements.length; i++) { %>
                  <tr>
                    <td>
                      <a href="/foodDetail/<%= foodElements[i].foodId%>" target="_blank"
                        style="text-decoration: none; font-size: 20px; color: var(--black-color);">
                        <%=foodElements[i].foodName %>
                      </a>
                    </td>
                    <td>
                      <%= foodElements[i].foodAmount %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="col-5">
        <div class="ran_img_container detailMenuImage_container" style="margin-top: 132px;">
          <img src="<%= data.menuImage %>" class="rand_img detailMenuImage" alt="" style="max-width: 100%;">
        </div>
      </div>
    </div>
    <div class="row" style="height: 100px;">
      <div class="react_btn">
        <button id="likeBtn">Like <i class="fa-solid fa-heart fa"></i></button>
        <button class="cmt">Comment <i class="fa-solid fa-comment"></i></button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="../assets/css/Create Your Menu.css">
<link rel="stylesheet" href="../assets/css/Homepage.css">
<link rel="stylesheet" href="../assets/css/FID_New_V2.css">
<script src="../assets/js/reactMenu.js"></script>