<div id="content" style="padding: 80px 0 0 0;">
  <div class="container food_in4">
    <div class="row text-center pt-4 detail_header" style="position: relative;">
      <h1>
        <%= data.menuname %>
      </h1>
      <a href="#">Creator: <span style="font-weight: bold;">
          <%= data.creator %>
        </span></a>
    </div>
    <div class="nutrition_container row mt-4">
      <div class="col">
        <h3 class="FID_body__left--title">Nutritions</h3>
        <div class="FID_body__left-nutriinfor">
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Energy</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.energy %> calories
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Carbs</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.carbs %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Lipid</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.lipid %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Protein</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.protein %> gram
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Vitamins</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.vitamins %>
            </span>
          </div>
          <div class="FID_body__left-nutriinfor--item">
            <div class="nutriinfor--item__circle">Minerals</div>
            <span class="nutriinfor--item__text">
              <%= nutrition.minerals %>
            </span>
          </div>
        </div>
        <div class="CYM_body__left-bottom">
          <div style="margin-left: 64px;">
            <table class="CYM_body__left-bottom--table">
              <thead>
                <tr>
                  <th>Name of food</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody id="detailMenuContent">
                <% for (let i=0; i < foodElements.length; i++) { %>
                  <tr>
                    <td>
                      <a href="/foodDetail/<%= foodElements[i].foodId%>" target="_blank"
                        style="text-decoration: none; font-size: 20px; color: var(--black-color);">
                        <%=foodElements[i].foodName %>
                      </a>
                    </td>
                    <td>
                      <%= foodElements[i].foodAmount %>
                    </td>
                  </tr>
                  <% } %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="col-5">
        <div class="ran_img_container detailMenuImage_container">
          <% if (data.menuImage && (data.menuImage.includes("https") || /\.(jpg|jpeg|png)$/.test(data.menuImage))) { %>
            <img src="<%= data.menuImage %>" class="rand_img detailMenuImage" alt="" style="max-width: 100%;">
            <% } else { %>
              <img src="../assets/images/errorImg.jpg" class="rand_img detailMenuImage" alt="" style="max-width: 100%;">
              <% } %>
        </div>
      </div>
    </div>
    <% if (userId) { %>
      <div class="row" style="height: 100px;">
        <div class="react_btn">
          <p id="Menu<%= data.menuid %>" hidden></p>
          <button id="likeBtn">Like <i class="fa-solid fa-heart fa"></i></button>
          <button class="cmt">Comment <i class="fa-solid fa-comment"></i></button>
        </div>
      </div>
  </div>

  <div class="CommentView">
    <div class="CommentViewHeader">
      <h2 class="CommentViewHeader__title">Thực đơn của <%= data.creator %>
      </h2>
      <a href=""><i class="fa-solid fa-xmark CommentViewHeader__xmark"></i></a>
    </div>
    <div class="CommentViewBody">
      <div class="CommentViewBody__Menu">
        <img src="<%= data.menuImage %>" alt="" class="CommentViewBody__Menu--picture">
      </div>
      <div class="CommentViewBody__CountLikeAndComment">
        <div class="CommentViewBody__CountLikeAndComment--item">
          <i class="fa-regular fa-thumbs-up CommentViewBody__iconLike"></i>
          <% let count=0; %>
            <% if (dataRating !=null) { %>
              <% for (var i=0; i < dataRating.list.length; i++) { %>
                <% if (dataRating.list[i].favorite===1) { %>
                  <% count++; %>
                    <% } %>
                      <% } %>
                        <% } %>
                          <span class="CommentViewBody__CountLikeAndComment--text">
                            <%= count %> Lượt Thích
                          </span>
        </div>
        <% let countCmt=0; %>
          <% if (dataRating !=null) { %>
            <% for (var i=0; i < dataRating.list.length; i++) { %>
              <% if (dataRating.list[i].comment!==null) { %>
                <% countCmt++; %>
                  <% } %>
                    <% } %>
                      <% } %>
                        <span class="CommentViewBody__countComment">
                          <% if (dataRating !=null) { %>
                            <%= countCmt %> Bình Luận <% } else { %> 0 Bình Luận <% } %>
                        </span>
      </div>

      <div id="DivComment">
        <% if (dataRating !=null) { %>
          <% for (var i=0; i < dataRating.list.length; i++) { %>
            <% if (dataRating.list[i].comment !=null) { %>
              <div class="divCommentCreated" style="display: flex; margin-top: 5px;">
                <a href="" class="Comment__avatar">
                  <div class="avatar-img">
                    <img src="<%= ArrayUserInfo[i].data.avatar %>" alt="">
                  </div>
                </a>
                <div class="CommentByUser">
                  <h4 class="CommentByUser__name">
                    <%= ArrayUserInfo[i].data.name %>
                  </h4>
                  <span class="CommentByUser__text">
                    <%= dataRating.list[i].comment %>
                  </span>
                </div>
              </div>
              <% } %>
                <% } %>
                  <% } %>




      </div>

    </div>
    <div class="CommentViewFooter">
      <form action="">
        <input type="text" class="textComment" id="inputComment" placeholder="Viết Bình Luận ...." name="comment">
        <a href="#" id="commentMessage" class="<%=data.menuid%>">
          <i class="fa-solid fa-paper-plane CommentViewFooter__iconSend"></i>
        </a>


        <input type="text" hidden value="<%= userInfo.name %>" id="nameUserComment">
        <input type="text" hidden value="<%= userInfo.avatar %>" id="imageUserComment">




      </form>
    </div>


  </div>
  <% } %>
</div>







<link rel="stylesheet" href="../assets/css/Create Your Menu.css">
<link rel="stylesheet" href="../assets/css/Homepage.css">
<link rel="stylesheet" href="../assets/css/FID_New_V2.css">
<link rel="stylesheet" href="../assets/css/CommentView.css">
<script src="../assets/js/reactMenu.js"></script>
<script src="../assets/js/CommentView.js"></script>